@model eUseControl.Web.Models.Product.ProdStore
@{ 
    var totalcost = 0;
}
<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> +09876543</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> address</a></li>
        </ul>
        <ul class="header-links pull-right">
            <!--<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>-->
            <li><a href="@Url.Action("Index", "Login")"><i class="fa fa-user-o"></i>My account</a></li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->
<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="@Url.Action("Index","Home")" class="logo">
                        <img src="/Content/Images/logot.png" alt="">
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
            <!-- SEARCH BAR -->

            <div class="col-md-6">
                <div class="header-search">
                    <div>
                        @using (Html.BeginForm("Store", "Home", FormMethod.Post, new { @id = "SearchForm" }))
                        {
                            <select class="input-select" name="@Html.NameFor(x => x.SelectedCategory)" id="@Html.IdFor(x => x.SelectedCategory)">
                                <option class="active" value="All">All Categories</option>
                                <option value="Swimming">Swimming</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Football">Football</option>
                                <option value="Volleyball">Volleyball</option>
                                <option value="Gym">Gym</option>
                            </select>
                            <input class="input" id="@Html.IdFor(x=>x.SelectedName)" name="@Html.NameFor(x=>x.SelectedName)" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        }
                    </div>
                </div>
            </div>
            <!-- /SEARCH BAR -->
            <!-- ACCOUNT -->
            <div class="col-md-3 clearfix">
                <div class="header-ctn">
                    <!-- Wishlist -->
                    @if (ViewBag.Fav != null)
                    {
                      <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">@ViewBag.Fav.Count</div>
                            </a>
                            @if (@ViewBag.Fav.Count > 0)
                            {
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    @foreach (var p in ViewBag.Fav)
                                    {
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="@p.Image" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">@p.Name</a></h3>
                                                @if (p.Discount > 0)
                                                {
                                                    var PriceDiscount = p.Price - p.Price / 100 * p.Discount;
                                                    <h4 class="product-price">@PriceDiscount <del class="product-old-price">@p.Price</del></h4>
                                                }
                                                else
                                                { <h4 class="product-price">@p.Price</h4>}
                                            </div>
                                            @using (Html.BeginForm("DeleteFromFav", "Profile", new {Art = p.Article, page = ViewBag.CurrentPage }, FormMethod.Post))
                                            {
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            }   
                                        </div>
                                    }
                                    <div class="cart-btns">
                                        <a href="@Url.Action("Favourites","Profile")">View Wishlist </a>
                                    </div>
                                </div>
                            </div> 
                            }
                      </div>
                    }

                    <!-- /Wishlist -->
                    <!-- Cart -->
                    @if (ViewBag.Cart != null)
                    {
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Your Cart</span>
                            <div class="qty">@ViewBag.Cart.Count</div>
                        </a>
                        @if (@ViewBag.Cart.Count > 0)
                        {
                        <div class="cart-dropdown">
                            <div class="cart-list">
                                @foreach (var p in ViewBag.Cart)
                                {
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="@p.Image" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">@p.Name</a></h3>
                                            @if (p.Discount > 0)
                                            {
                                                var PriceDiscount = p.Price - p.Price / 100 * p.Discount;
                                                totalcost += PriceDiscount;
                                                <h4 class="product-price">@PriceDiscount <del class="product-old-price">@p.Price</del></h4>}
                                            else
                                            { <h4 class="product-price">@p.Price</h4>
                                            totalcost += p.Price;
                                        }
                                        </div>
                                        @using (Html.BeginForm("DeleteFromCart", "Profile", new { Art = p.Article, page = ViewBag.CurrentPage }, FormMethod.Post))
                                        {
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        }
                                    </div>
                                }
                                <div class="cart-summary">
                                    <small>@ViewBag.Cart.Count Item(s) selected</small>
                                    <h5>SUBTOTAL: $@totalcost</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="@Url.Action("Cart", "Profile")">View Cart</a>
                                    <a href="@Url.Action("Checkout", "Profile")">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    }
                    <!-- /Cart -->
                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->