@model eUseControl.Web.Models.Product.ProdStore
<!-- NAVIGATION -->
<!-- container -->
<div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Store", "Home")">Store</a></li>
            <li><a href="@Url.Action("Store", "Home", new {category = "Swimming"})">Swimming</a></li>
            <li><a href="@Url.Action("Store", "Home", new {category = "Basketball"})">Basketball</a></li>
            <li><a href="@Url.Action("Store", "Home", new {category = "Football"})">Football</a></li>
            <li><a href="@Url.Action("Store", "Home", new {category = "Volleyball"})">Volleyball</a></li>
            <li><a href="@Url.Action("Store", "Home", new {category = "Gym"})">Gym</a></li>
        </ul>
        <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
</div>
<!-- /container -->
<!-- /NAVIGATION -->