@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "Cart";
}

@using System.Web.Optimization
@{
    var ProductPerPage = 12;
    var prodCount = 0;
}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">My Space</h3>
                    <ul class="aside">
                        <li><a href="@Url.Action("Index", "Profile")">My account</a></li>
                        <li><a href="@Url.Action("Favourites", "Profile")">Favourites</a></li>
                        <li><a class="active" href="#">Cart</a></li>
                        <li><a href="@Url.Action("Checkout", "Profile")">Checkout</a></li>
                        <li><a href="@Url.Action("Settings", "Profile")">Settings</a></li>
                        <li><a href="@Url.Action("Logout", "Profile")">Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option class="active" value="FromAToZ">A to Z</option>
                                <option value="FromZToA">Z to A</option>
                                <option value="HightToLowPrice">Price Ascending</option>
                                <option value="LowToHightPrice">Price Descending</option>
                                <option value="HightToLowRate">Rate Ascending</option>
                                <option value="LowToHightRate">Rate Descending</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    @foreach (var prod in ViewBag.Cart)
                    {
                        prodCount++;
                        <!-- product -->
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="@prod.Image" name=" " alt="">
                                    <div class="product-label">
                                        @if (@prod.Discount > 0)
                                        {<span class="sale">@prod.Discount%</span>}
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@prod.Category</p>
                                    <h3 class="product-name"><a href="@Url.Action("Product", "Home", new { Art = prod.Article })">@prod.Name</a></h3>
                                    @if (prod.Discount > 0)
                                    {
                                        var PriceDiscount = prod.Price - prod.Price / 100 * prod.Discount;
                                        <h4 class="product-price">@PriceDiscount <del class="product-old-price">@prod.Price</del></h4>}
                                    else
                                    { <h4 class="product-price">@prod.Price</h4>}
                                    <div class="product-rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <i class="fa @(i <= prod.AvarageRating ? "fa-star" : "fa-star-o")"></i>
                                        }
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </div>
                            </div>
                        </div>
                        if (prodCount >= 11) { break; }
                        <!-- /product -->
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>

                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var currentPage = 0; // Начинаем с нулевой страницы
    var productsPerPage = @ProductPerPage;
    var products = document.querySelectorAll('.product');

    function showProducts() {
        var startIndex = currentPage * productsPerPage;
        var endIndex = Math.min(startIndex + productsPerPage, products.length);
        for (var i = 0; i < products.length; i++) {
            if (i >= startIndex && i < endIndex) {

                products[i].style.display = '';
            } else {

                products[i].style.display = 'none';
            }
        }
    }

    showProducts(); // Вызываем функцию для отображения продуктов при загрузке страницы

    document.querySelector('.next-page').addEventListener('click', function () {
        if ((currentPage + 1) * productsPerPage < products.length) {
            currentPage++;
            showProducts();
        }
    });

    document.querySelector('.prev-page').addEventListener('click', function () {
        if (currentPage > 0) {
            currentPage--;
            showProducts();
        }
    });
});
</script>