@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "SingleProduct";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.Product.ProductRegistration
@{
    var ReviewPerPage = 5;
    var ReviewCount = 0;
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Number</h3>
                    <ul class="aside">
                        <li><a href="@Url.Action("Index", "Admin")">Number</a></li>
                        <li><a href="@Url.Action("NewProduct", "Admin")">New product</a></li>
                        <li><a class="active" href="@Url.Action("Products", "Admin")">Products</a></li>
                        <li><a href="@Url.Action("DeleteProducts", "Admin")">Delete product</a></li>
                        <li><a href="@Url.Action("Users", "Admin")">View users</a></li>
                        <li><a href="@Url.Action("BanUsers", "Admin")">Ban User</a></li>
                        <li><a href="@Url.Action("Comments", "Admin")">View comments</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- /ASIDE -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        @using (Html.BeginForm("ProductEdit", "Admin", FormMethod.Post))
                        {
                            <input hidden name="@Html.NameFor(x => x.Article)" id="@Html.IdFor(x => x.Article)" value="@ViewBag.Product.Article">
                            <!-- Product main img -->
                            <div class="col-md-3 col-md-push-1">
                                <div id="product-main-img">
                                    @if (ViewBag.ProductImgs != null)
                                    {
                                        foreach (var i in ViewBag.ProductImgs)
                                        {
                                            <div class="product-preview">
                                                <img src="@i" alt="">
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <!-- /Product main img -->
                            <!-- Product thumb imgs -->
                            <div class="col-md-1  col-md-pull-3">
                                <div id="product-imgs">
                                    <div class="product-preview">
                                        @if (ViewBag.ProductImgs != null)
                                        {
                                            foreach (var i in ViewBag.ProductImgs)
                                            {
                                                <div class="product-preview">
                                                    <img src="@i" alt="">
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- /Product thumb imgs -->
                            <!-- Product details -->
                            <div class="col-md-3">
                                <div class="product-details">
                                    <p>#@ViewBag.Product.Article</p>
                                    <h2 class="product-name"><input name="@Html.NameFor(x => x.Name)" id="@Html.IdFor(x => x.Name)" value="@ViewBag.Product.Name"></h2>        
                                    <div>
                                        <div class="product-rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <i class="fa @(i <= ViewBag.Product.AvarageRating ? "fa-star" : "fa-star-o")"></i>
                                            }
                                        </div>
                                        <a class="review-link" href="#">@ViewBag.ProdReview.Count Review(s)</a>
                                    </div>
                                    <div>
                                        <h4 class="product-price"><input name="@Html.NameFor(x => x.Price)" id="@Html.IdFor(x => x.Price)" value="@ViewBag.Product.Price"></h4>
                                        <h4 ><input name="@Html.NameFor(x => x.Discount)" id="@Html.IdFor(x => x.Discount)" value="@ViewBag.Product.Discount"></h4>
                                        <div>
                                            @Html.CheckBoxFor(m => m.AvailableStatus)
                                            <label>Avaliable</label>
                                            <p>Current status:<p>
                                                @if (ViewBag.Product.AvailableStatus)
                                                {<span>In Stock</span> }
                                                else
                                                {<span>Out of Stock</span>}
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button> save changing</button>
                                    </div>

                                    <div>
                                        <label>Brend:</label>
                                        <p>Current brend: @ViewBag.Product.Brend</p>
                                        <select name="@Html.NameFor(x => x.Brend)" id="@Html.IdFor(x => x.Brend)">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>Category:</label>
                                        <p>Current category: @ViewBag.Product.Category</p>
                                        <select name="@Html.NameFor(x => x.Category)" id="@Html.IdFor(x => x.Category)">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>Tag:</label>
                                        <p>Current tag: @ViewBag.Product.Tag</p>
                                        <select name="@Html.NameFor(x => x.Tag)" id="@Html.IdFor(x => x.Tag)">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <!-- /Product details -->
                            <!-- Product tab -->
                            <div class="col-md-12">
                                <div id="product-tab">
                                    <!-- product tab nav -->
                                    <ul class="tab-nav">
                                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                        <li><a data-toggle="tab" href="#tab3">Reviews (@ViewBag.ProdReview.Count)</a></li>
                                    </ul>
                                    <!-- /product tab nav -->
                                    <!-- product tab content -->
                                    <div class="tab-content">
                                        <!-- tab1  -->
                                        <div id="tab1" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="order-notes">
                                                        <textarea class="input" name="@Html.NameFor(x => x.Description)" id="@Html.IdFor(x => x.Description)" value="">@ViewBag.Product.Description</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /tab1  -->
                                        <!-- tab3  -->
                                        <div id="tab3" class="tab-pane fade in">
                                            <div class="row">
                                                <!-- Rating -->
                                                <div class="col-md-3">
                                                    <div id="rating">
                                                        <div class="rating-avg">
                                                            <span>@ViewBag.Product.AvarageRating</span>
                                                            <div class="rating-stars">
                                                                @for (int i = 1; i <= 5; i++)
                                                                {
                                                                    <i class="fa @(i <= ViewBag.Product.AvarageRating ? "fa-star" : "fa-star-o")"></i>
                                                                }
                                                            </div>
                                                        </div>
                                                        <ul class="rating">
                                                            <li>
                                                                <div class="rating-stars">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div class="rating-progress">
                                                                    <div style="width: 80%;"></div>
                                                                </div>
                                                                <span class="sum">3</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating-stars">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </div>
                                                                <div class="rating-progress">
                                                                    <div style="width: 60%;"></div>
                                                                </div>
                                                                <span class="sum">2</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating-stars">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </div>
                                                                <div class="rating-progress">
                                                                    <div></div>
                                                                </div>
                                                                <span class="sum">0</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating-stars">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </div>
                                                                <div class="rating-progress">
                                                                    <div></div>
                                                                </div>
                                                                <span class="sum">0</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating-stars">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <i class="fa fa-star-o"></i>
                                                                </div>
                                                                <div class="rating-progress">
                                                                    <div></div>
                                                                </div>
                                                                <span class="sum">0</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- /Rating -->
                                                <!-- Reviews -->
                                                <div class="col-md-6">
                                                    <div id="reviews">
                                                        <ul class="reviews">
                                                            <li>
                                                                @if (ViewBag.ProdReview.Count > 0)
                                                                {
                                                                    foreach (var rev in ViewBag.ProdReview)
                                                                    {
                                                                        using (Html.BeginForm("DeleteReview", "Admin", FormMethod.Post, new { id = rev.Id }))
                                                                        {
                                                                            ReviewCount++;
                                                                            <div class="review-heading">
                                                                                <h5 class="name">@rev.Username</h5>
                                                                                <p class="date">@rev.DateEdited</p>
                                                                                <div class="review-rating">
                                                                                    @for (int i = 1; i <= 5; i++)
                                                                                    {
                                                                                        <i class="fa @(i <= rev.Rate ? "fa-star" : "fa-star-o")"></i>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="review-body">
                                                                                <p>@rev.Message</p>
                                                                                <div class="review-body">
                                                                                    <div class="col-sm-5">
                                                                                        <a href="#" class="primary-btn">delete</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            if (ReviewCount >= 4) { break; }
                                                                        }
                                                                    }
                                                                }
                                                            </li>
                                                        </ul>
                                                        <ul class="reviews-pagination">
                                                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- /Reviews -->
                                            </div>
                                        </div>
                                        <!-- /tab3  -->
                                    </div>
                                    <!-- /product tab content  -->
                                </div>
                            </div>
                            <!-- /product tab -->
                        }
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /SECTION -->
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var currentPage = 0; // Начинаем с нулевой страницы
    var ReviewPerPage = @ReviewPerPage;
    var review = document.querySelectorAll('.review');

    function showProducts() {
        var startIndex = currentPage * ReviewPerPage;
        var endIndex = Math.min(startIndex + ReviewPerPage, Review.length);
        for (var i = 0; i < Review.length; i++) {
            if (i >= startIndex && i < endIndex) {

                Review[i].style.display = '';
            } else {

                Review[i].style.display = 'none';
            }
        }
    }

    showProducts(); // Вызываем функцию для отображения продуктов при загрузке страницы

    document.querySelector('.next-page').addEventListener('click', function () {
        if ((currentPage + 1) * ReviewPerPage < Review.length) {
            currentPage++;
            showProducts();
        }
    });

    document.querySelector('.prev-page').addEventListener('click', function () {
        if (currentPage > 0) {
            currentPage--;
            showProducts();
        }
    });
});
</script>