@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "BanUser";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.User.UserData

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Number</h3>
                    <ul class="aside">
                        <li><a href="@Url.Action("Index", "Admin")">Number</a></li>
                        <li><a href="@Url.Action("NewProduct", "Admin")">New product</a></li>
                        <li><a href="@Url.Action("Products", "Admin")">Products</a></li>
                        <li><a href="@Url.Action("DeleteProduct", "Admin")">Delete product</a></li>
                        <li><a class="active" href="#">View users</a></li>
                        <li><a href="@Url.Action("BanUser", "Admin")">Ban User</a></li>
                        <li><a href="@Url.Action("Comments", "Admin")">View comments</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- /ASIDE -->
            <div class="col-sm-8">
                <div class="section-title">
                    <h3 class="title">All users</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="header-search">
                            <form>
                                <input class="input" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="reviews">
                    <li>
                        <div class="review-heading">
                            <h5 class="name">John</h5>
                            <p class="name">online</p>
                            <p class="name">unbanned</p>
                        </div>
                        <div class="review-body">
                            <p>total reviews:</p>
                            <p>last login:</p>
                        </div>
                    </li>
                    <li>
                        <div class="review-heading">
                            <h5 class="name">John</h5>
                            <p class="name">online</p>
                            <p class="name">unbanned</p>
                        </div>
                        <div class="review-body">
                            <p>total reviews:</p>
                            <p>last login:</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->