@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "Authentication";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.Authorization.LoginData

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "LoginForm" }))
            {
                <div class="col-md-4">
                    <div class="Auth-details">
                        @Html.AntiForgeryToken()
                        <div class="section-title">
                            <h3 class="title">Authentication</h3>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Credential, new
                            {
                                placeholder = "Credential",
                                title = "Please enter your username or email",
                                value = "",
                                name = "credential",
                                id = "credential",
                                @class = "form-control"
                            })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, new
                            {
                                @class = "form-control",
                                type = "password",
                                title = "Please enter your password",
                                placeholder = "***********",
                                value = "",
                                name = "password",
                                id = "password"
                            })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="primary-btn">Enter</button>
                    </div>
                    <p><a href="@Url.Action("ForgotPassword1", "Login")">Forgot password?</a></p>
                    <p><a href="@Url.Action("Registration", "Login")">Registration</a></p>
                </div>
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

